<div class="center hero-unit">
<h1>Welcome to the Fashion App</h1>

<h2>
  This is the home page for the Fashion app.
</h2>
<section>
      <ol class="pairings">
        <%= render @pairings %>
      </ol>
      <ol class="items">
       <%= render @items %>
      </ol>
</section>
</div>
