
<!-- Feed Section -->
<% if !@feed.any? %>
  You have nothing in your feed :(
<%end%>
<div id="cardgrid">
  <% @feed.each do |i| %>
    <% if i.is_a?(Item)%>
      <%= render partial: 'items/item', locals: {:item => i} %>
    <% else %>
      <%= render partial: 'pairings/pairing', locals: {:pairing => i} %>
    <% end %>
  <% end %>
</div>
