<!--search and filter-->
<%= render partial:'shared/searchfilter'%>
<!--search and filter-->

<div id="cardgrid">
  <% @feed.each do |i| %>
    <% if i.is_a?(Item)%>
      <%= render partial: 'items/item', locals: {:item => i} %>
    <% else %>
      <%= render partial: 'pairings/pairing', locals: {:pairing => i} %>
    <% end %>
  <% end %>
</div>

<%= will_paginate @feed %>