<li id="<%= feed_pairing.id %>">
<span class="user">
  <%= link_to feed_pairing.user.name, feed_pairing.user %>
</span>
<span class="name"><%= feed_pairing.name %></span>
<span class="timestamp">
  Posted <%= time_ago_in_words(feed_pairing.created_at) %> ago.
</span>
</li>

