<div class="card">
  <div class="poster">
  <div class="avatar">
    <%= image_tag("https://fashionapp.s3.amazonaws.com/uploads/e50cffacf80c8898f2283cf0bf1c65a5/avatar.jpg")%>
  </div>
  <div class="username">
    <span class>Goldilocks</span>
  </div>
  <div class="timestamp">
    <span>2 Days ago</span>
  </div>
</div>

<div class="image">
  <%= link_to(image_tag("https://fashionapp.s3.amazonaws.com/uploads/12d98e0b1a9c53ae0d69b999ac3663cd/vs%20pink.jpg")) %>
</div>
  <div class="cardtitle">
    <span>VS Pink</span>
  </div>
<p class="faded">
  <span class="like_counter">234 Likes</span>
  <span class="comment_counter">33 Comments</span>
</p>
</div>
