<li>
<span class="name"><%= item.name %> --- </span>
<span class="tags"><%= item.tag_list %></span>
<span class="tags">
  <% if item.images.any? %>
    <%= image_tag(item.images.first.original_url.to_s) %>
  <% end %>
</span>

<span class="timestamp">
  Added <%= time_ago_in_words(item.created_at) %> ago.
</span>
</li>
